.bg-color {
	background-color: #1c522c;
}

.info-lines .row {
	min-height: 3em;
	display: flex;
	align-items: center;
}

.graph-area .card-body {
	padding: 0.5em;
}

.disclaimer {
	line-height: 1.5em;
	font-size: 0.75em;
	font-weight: 400;
}

@media (max-width: 575px) {
	h1.heading {
		font-size: 2rem;
	}
}
